.container{
    position: relative;
}
.container .pictures img{
    width: 100%;
    height: auto;
    /* margin-left: 50%; */
    margin-right: 10%;
    /* padding-top: 3%; */
}
.container .opening{
    position : absolute;
    top: 0%;
    color: white;
    padding: 17%;
    margin-left: 10%;
}

.quotes .content{
    padding-top: 10%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 150%;
}