BarChart{
    width = 500;
    height={300}
    data={data}
    margin={{
            top: 5,
                right: 30,
                left: 80,
                bottom: 5,
            }}
            barSize={20}
}